@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center vh-75 d-flex flex-column justify-content-center">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="display-3 fw-bold">Welcome to TaskTracker! 🚀</h1>
            <p class="lead my-4">
                The best place to organize your projects and track your tasks.
            </p>

            <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-primary btn-lg px-4 gap-3">
                🚀 Get Started
            </a>
        </div>
    </div>
</div>